.YumlistPage {
  text-align: left;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 16px;

    .left {
      display: flex;
      align-items: center;
    }

    .text {
      flex-grow: 1;
      text-align: center;
      margin-left: 16px;

        .title {
          font-weight: 700;
        }
      }
  }

  .tabs {
    display: flex;
    box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.12);

    .tab {
      flex-grow: 1;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      position:relative;
      padding: 12px 0;

      &.selected {
        color: #D70F64;
      }

      .bar {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #D70F64;
        bottom: 0;
      }
    }
  }

  .tags {
    margin: 12px;
    display: flex;
    flex-wrap: wrap;

    .yumlistTag {
      margin: 4px;
    }
  }

  .yumlist {
    margin: 16px;

    .yumlistItem {
      margin-top: 16px;
    }
  }

  .yumlistModal {
    position: fixed;
    background-color: #707070cc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .container {
      // background-color: white;
      width: 80%;
      height: 90%;
      opacity: 100%;
      z-index: 3;
      border-radius: 8px;
      display: flex;
      flex-direction: column;

      .header {
        display: flex;
        justify-content: right;
      }

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
}
