.YumlistPage {
  text-align: left;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 16px 16px 0;

    .left {
        display: flex;
        align-items: center;

        .text {
            margin-left: 16px;

            .title {
                font-weight: 700;
            }

            .subtitle {
                font-size: 12px;
            }
        }
    }
  }

  .yumlist {
    margin: 16px;

    .yumlistItem {
      margin-top: 16px;
    }
  }
}