html,
body,
#root,
.App {
  height: 100%;
}

button.fp-btn {
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  width: 207px;
  height: 48px;

  background: #d70f64;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
